<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <ChannelHeader
    @name="general"
    @description="Just some general people generally chatting about general things"
  />

  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    {{#each this.messages as |message| }}
      <Message
        @avatarSrc={{message.avatarSrc}}
        @sender={{message.sender}}
        @timestamp={{message.timestamp}}
        @messageBody={{message.messageBody}}
      />
    {{/each}}
  </div>

  <footer class="pb-6 px-4 flex-none channel-footer">
    <MessageForm
    @nameValue="general"
    />
    <InfoPanel
      @user={{hash nickname="Magda"}}
    />
  </footer>
</main>