<Channels::Channel::ChannelHeader
  @name={{@model.channel.name}}
  @description={{@model.channel.description}}
/>

<div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
  <Messages
    @messages={{@model.messages}}
    @loggedUser={{@model.user}}
    @onDeletionMessage={{this.onDeletionMessage}}
  />

  <Messages
    @messages={{@model.newMessages}}
    @loggedUser={{@model.user}}
    @onDeletionMessage={{this.onDeletionMessage}}
  />
</div>

<footer class="pb-6 px-4 flex-none channel-footer">
  <Channels::Channel::MessageForm @onSendMessage={{this.onSendMessage}} />
  <Channels::Channel::InfoPanel @user={{@model.user}} />
</footer>