<div class="flex items-center justify-center my-6">
  <Ui::SearchForm @searchTerm={{@searchTerm}} />
</div>

<div class="flex justify-around px-6">
  <div>
    <div class="font-bold">Filter by channel:</div>
    {{#each @channels as |channel index|}}
      <input data-test-search="checkbox-channel" {{on "click" this.filterByChannel}} type="checkbox" name="channel-{{index}}" value={{channel.id}}>
      <label for="channel-{{index}}">{{channel-name channel.name}}</label><br>
    {{/each}}
  </div>
  <div>
    <div class="font-bold">Filter by user:</div>
    {{#each @users as |user index|}}
      <input data-test-search="checkbox-user"{{on "click" this.filterByUser}} type="checkbox" name="user-{{index}}" value={{user.id}}>
      <label for="user-{{index}}">{{user.fullname}}</label><br>
    {{/each}}
  </div>
</div>

<div class="flex-row items-center justify-center my-6">
  <Channels::Channel::Messages
    @messages={{this.filteredMessages}}
  />
</div>